<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>¯\_(ツ)_/¯</title>
</head>

<body style="font-family:sans-serif, Arial;">
   <div style="background:#dedede;border-radius:5px;width:500px;padding:20px;margin:200px auto 0 auto;">
      <div style="height:300px;margin-bottom:-300px;">
         <h1 style="font-size:290px;color:#cecece;margin:0;text-align:center;">404</h1>
      </div>
      <div style="height:300px;">
         <p style="text-align:center;font-size:3em;">Looks like you strayed from the PATH!</p>
         <h1 style="text-align:center;font-size:3em;font-weight:bold;">¯\_(ツ)_/¯</h1>
      </div>
   </div>
</body>

</html>